torch~=2.0.0
transformers~=4.31.0
datasets~=2.14.4
matplotlib>=3.5.2
pytorch-lightning==1.6.3
nltk>=3.7
sacrebleu==2.1.0
tqdm>=4.64.0
python-dotenv==0.20.0
gitpython==3.1.27
more-itertools==8.12.0
hydra-core==1.2.0
plotly>=5.8.2
#sentencepiece==0.1.96
sacremoses==0.0.49
sentence-transformers
kaleido==0.2.1
numpy~=1.24.2
pandas~=1.5.1
tabulate~=0.9.0